/* App.css */
.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: auto;
  max-width: 900px;
}
.productItem {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
}
